.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}
.navbar ul li a {
  transition: 0.5s ease-in-out;
}
.navbar ul li a:hover {
  color: var(--second-color);
}
.navbar ul li,
a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar li {
  list-style: none;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  display: flex;
  align-self: center;
}
.fa-cart-shopping {
  color: black;
  padding-left: 3rem;
  padding-right: 3rem;
}
button {
  all: unset;
  cursor: pointer;
}
.menuIcon{
  display: none;
}
@keyframes popup{
  0% {
    scale: 0;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes opacity{
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.opacity-animtion{
  animation: opacity 0.2s 1 ease-in-out;
}
.popup{
  animation: popup 0.77s 1 ease-in-out;
}
@media (max-width: 1000px) {
  .navbar ul {
    display: none;
  }
  .menuIcon{
    display: block;
  }
}
