.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}
.navbar ul li a {
  transition: 0.5s ease-in-out;
}
.navbar ul li a:hover {
  color: var(--second-color);
}
.navbar ul li,
a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar li {
  list-style: none;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  display: flex;
  align-self: center;
}
.fa-cart-shopping {
  color: black;
  padding-left: 3rem;
  padding-right: 3rem;
}
button {
  all: unset;
  cursor: pointer;
}
